body{
    margin: 0;
}
* {
    box-sizing: border-box;
}
.case {
    background-color: dodgerblue;
    float: left;
    border: 3px solid white;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.case.failed {
    background-color: orangered;
    cursor: default;
}
.case.touched {
    background-color: greenyellow;
    cursor: default;
}
#plateau {
    width: 400px;
}